* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 100px;
    text-align: center;
}

.navbar {
    background-color: #1F2937;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0px;
    height: 100px;
}

.navbar-logo {
    font-size: 24px;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    /* box-shadow: 2px 2px; */
}

.navbar-link {
    display: flex;
    align-items: center;
    text-align: center;
    list-style: none;
    margin-left: auto;
    margin-right: 24px;
}

.navbar-link li {
    padding: 16px;
}

.hero {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    align-items: center;
    justify-content: center;
    padding: 80px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    flex: 2 1 0;
    min-width: 188px;
    max-width: 375px;
}

.hero-right {
    flex: 3 1 0;
    color: black;
    background-color: lightgray;
    padding: 0px 44px;
    min-height: 100px;
    max-width: 500px;
}

.hero h1 {
    font-size: 48px;
}

.hero p {
    color: #f9faf8;
    font-size: 18px;
    padding: 8px 0px;
}

.sign-up1 {
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    border-color: #3882f6;
    padding: 0px 18px;
}


.two-container {
    align-items: center;
    margin: 20px;
}

.two-container p {
    align-items: center;
    justify-content: center;
    margin: 12px;
}

.h2 {
    font-size: 36px;
    color: #1F2937;
    justify-content: center;
    margin-top: 30px;
}

.two-block-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.two-block {
    margin: 12px;
}

.two-block-graphic {
    height: 200px;
    width: 200px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    flex: wrap;
}

.three-container {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 48px;
}

.three-quote {
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
}

.three-author {
    font-size: 18px;
    text-align: right;
    padding-right: 36px;
}

.four-container {
    display: flex;
    flex-direction: column;
    padding: 36px;
    align-items: center;
}

.four-box {
    background-color: #3882F6;
    padding: 18px 42px;
    border-radius: 10px;
    width: 65%;
}

.four-alert {
    padding: 18px 18px;
}

.four-alert p {
    margin: 8px;
}

.four-box p {
    padding: 12px;
}

.sign-up2 {
    border-radius: 8px;
    border: 2px solid #f9faf8;
    font-weight: bold;
    font-size: 18px;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 2px 24px 4px;
}

.sign-up2:hover {
    cursor: pointer;
    color: #3882f6;
    background-color: #f9faf8;
    transition: .2s;
}

.footer {
    background-color: #1F2937;
    color: #f9faf8;
}